@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@font-face {
    font-family: "'Dongle', sans-serif";
    src: local("'Dongle', sans-serif") url(./Lib/assets/Dongle-Regular.ttf) format('truetype');
}

:root {
    --gray: #D8D4D4;
    --light-gray: #ECE7E7;
    --blue: #1976d2;
    --light-blue: #f0f7ff;
    --background-blue: #58a4c1;
    --black: rgb(32, 30, 30);
    --light-black: #141313a9;
    --green: #00FF44;
    --red: #d80000;
    --light-red: #ff5c5c;
    --white: #fff;
    --white-transparent: rgba(255, 255, 255, 0.5);
    --orange: #F68D14;
    --brown: rgb(165, 42, 42);
}
*::-webkit-scrollbar {
    height: 3px;
    width: 3px;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--blue);
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Dongle', sans-serif;
    font-size: 32px;
}
